<section class="container-fluid" *ngFor="let album of albumes">
  <div class="row">
    <div class="col-4 text-center">
      <div class="cover-image" [style.backgroundImage]="sanitizeImg( album.caratulaAlbum )">
      </div><br>
      <h5 class="text-muted">{{ album.nombreAlbum }}</h5>
      <button class="btn btn-success" type="button">Play</button>
    </div>
    <div class="col-8">

      <!--Item 1 -->
      <div class="row song-item" *ngFor="let canciones of album.canciones">
        <div class="col-1">
          <fa-icon [icon]="faPlay"></fa-icon>
        </div>
        <div class="col-10">
          <div class="song-title">{{ canciones.nombreCancion }}</div>
          <div class="song-description">{{ this.artistSelected.nombreArtista }} - {{ album.nombreAlbum }}</div>
        </div>
        <div class="col-1">
          <span>{{ canciones.duracion }}</span>
          <button (click)="modalSaveSongInPlaylist(saveSonInPlaylistModal, canciones, album.nombreAlbum)" class="btn btn-outline-success btn-sm" title="Agregar a playlist">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
</section>


<ng-template #saveSonInPlaylistModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Select Playlist
    </h4>
    <button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">
        &times;
      </span>
    </button>
  </div>
  <div class="modal-body">
    Select Playlist
    <select class="form-control" [(ngModel)]="playlistSelected">
      <option value="">Select playlist</option>
      <option  *ngFor="let playlist of playlists" [value]="playlist._id">{{ playlist.tituloPlayList }}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="saveSongInPlaylist()">Save in playlist</button>
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Select click')">Close</button>
  </div>
</ng-template>

