<router-outlet>
  <app-header></app-header>

  <div class="container-fluid">
    <div class="row">
      <app-siderbar
        (onViewAlbumes)="verArtista($event)"
        (onViewPlaylists)="verPlaylist($event)"
      >
      </app-siderbar>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div id="vista-playlist" *ngIf="vistaSeleccionada === 'playlists'">
          <app-playlists></app-playlists>
        </div>

        <div id="vista-artista" *ngIf="vistaSeleccionada === 'artistas'">
          <app-albumes></app-albumes>
        </div>
      </main>

    </div>
  </div>
</router-outlet>
